<h1>Help: Time Track</h1>
<h5>Hi User
Time Track Helps you to capture the time spent on the tasks done<br>
You can create your own tasks and group under various projects<br>
Time Track also provides with a graphical representation of the time entries to have a better understanding of where the time is spent<br>
It is a greta way for Resource Management!!<br>
</h5>
