<footer class="footer">
  <small>
    Time Track Application by Swapnal Acharya
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  help_path  %></li>
      
      
    </ul>
  </nav>
</footer>